/* ----------
GENERAL STYLE
----------- */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: #ffffff;
}

.cards{
    flex-direction: column;
    gap: 30px;
}



/* ------------------
Container and columns
------------------- */

.row{
    display: flex;
}

.container{
    max-width: 600px;
    margin: 0 auto;
}

.col-50{
    width: 50%;
}


/* ----------
Flex property
----------- */

.flex{
    display: flex;
}

.justify-content-space-between{
    justify-content: space-between;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.column-to-row{
    flex-direction: column;
}


/* -----------
Align property
------------ */

.text-align-center{
    text-align: center;
}


/* -----------
Space property
------------ */

.padding-25px{
    padding: 25px;
}

.margin-bottom-30px{
    margin-bottom: 30px;
}

.margin-bottom-70px{
    margin-bottom: 70px;
}

.padding-70px-25px{
    padding: 70px 25px;
}

.rounded-20px{
    border-radius: 20px;
}

.img-circle{
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1;
}

.content p{
    line-height: 30px;
}

/* -----------
COLOR AND FONT
------------ */

.txt-white{
    color: #ffffff;
}

.txt-purple{
    color: #9792e4;
}

.background-purple{
    background-color: #9792e4;
}

.txt-font-size-25px{
    font-size: 25px;
}

.txt-font-size-40px{
    font-size: 40px;
}