/* ---------
HEADER MENMU
---------- */

header{
    background-color: #0084fd;
    height: 80px;
    padding: 25px;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.hamburgher-icon a{
    font-size: 35px;
}

.horizontal-menu{
    display: none;
}


/* --------
INTRO CARDS
--------- */

.intro-section{
    padding-top: 60px;
}

.card-blue, .card-blue-big{
    background-color: #b5ddff;
    padding: 25px 25px 0;
}

.title-card-blue{
    color: #0084fd;
    font-size: 25px;
}

.btn-card{
    background-color: #0084fd;
    padding: 7px 90px;
}

.img-blue-card{
    margin-bottom: -4px;
}

.icon-blue{
    font-size: 75px;
    color: #0084fd;
}

.card-blue-big-dsk{
    display: none;
}


/* -----------
SECOND SECTION
------------ */

.strategix-planning{
    margin-top: 70px;
}

.app-developement{
    background-color: #ffffff;
    padding: 25px;
}

.app-developement img{
    max-width: 65%;
}

.icon-arrow{
    background-color: #9792e4;
    border-radius: 100%;
    padding: 5px 7px;
}

.row-second-section{
    flex-direction: column;
}


/* ----------
FOURTH SECTION
----------- */

.number-cards{
    font-size: 50px;
    padding: 30px 0;
}

.card-white{
    background-color: #ffffff;
    width: 100%;
    padding: 25px;
}

.btn-purple{
    background-color: #9792e4;
    color: #ffffff;
    padding: 8px 50px;
}


/* ----------
FIFTH SECTION
----------- */

.about-us-title{
    font-size: 50px;
}

.icon-quotes-img{
    position: absolute;
    top: 0;
    right: -10px;
    font-size: 50px;
}

.section-img-about-us{
    position: relative;
}

.about-us-section-1{
    margin-bottom: 30px;
}

.btn-linkedin{
    padding: 10px 10px;
}

/* ----------
SIXTH SECTION 
------------*/

.small-comtainer{
    width: 100%;
}

.free{
    font-size: 50px;
    color: #ffa500;
}

.btn-get-started{
    background-color: #ffffff;
    padding: 15px 30px;
}

.privacy a{
    text-decoration: underline;
}

.privacy{
    padding-top: 50px;
}


/* ----
FOOTER
----- */

footer{
    background-color: #333333;
}

.small-comtainer-footer{
    width: 100%;
}

.link-footer a{
    text-decoration: underline;
}