/* ---------
HEADER MENMU
---------- */

header{
    background-color: #0084fd;
    height: 80px;
    padding: 25px;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.hamburgher-icon a{
    font-size: 35px;
}

.horizontal-menu{
    display: none;
}


/* --------
INTRO CARDS
--------- */

.intro-section{
    padding-top: 60px;
}

.cards{
    flex-direction: column;
    gap: 30px;
}

.card-blue, .card-blue-big{
    background-color: #b5ddff;
    padding: 25px 25px 0;
}

.title-card-blue{
    color: #0084fd;
    font-size: 25px;
}

.btn-card{
    background-color: #0084fd;
    padding: 7px 90px;
}

.img-blue-card{
    margin-bottom: -4px;
}

.icon-blue{
    font-size: 75px;
    color: #0084fd;
}

.card-blue-big-dsk{
    display: none;
}


/* -----------
SECOND SECTION
------------ */

.second-section{
    background-color: #9792e4;
}

.strategix-planning{
    margin-top: 70px;
}

.app-developement{
    background-color: #ffffff;
    padding: 25px;
}

.app-developement img{
    max-width: 65%;
}

.icon-arrow{
    background-color: #9792e4;
    border-radius: 100%;
    padding: 5px 7px;
}

.row-second-section{
    flex-direction: column;
}
